.custom-body{
    /* this is using normal css, created the background color*/
    background:linear-gradient(to right, rgba(6, 6, 225, 0.457) 50%, rgb(154, 159, 178) 80%)
}
.navigation-bar{
    /* makes things side by side instead of vertical */
    display:flex;
    /* adds the space in between the logo and my profile */
    justify-content:space-between;
    /* centers it */
    align-items:center;
    height:10vh;
}
nav img{
    /* changes the size of the image */
    width:5%;
}

.main{
    height:40vh;
    
}

.main form{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main form .dropdown{
    display: flex;
    flex-direction: column;
}