.custom-body {
    /* Set background color */
    background: linear-gradient(to right, rgba(6, 6, 225, 0.457) 50%, rgb(154, 159, 178) 80%);
}

.navigation-bar {
    /* Arrange items side by side */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav img {
    /* Adjust image size */
    width: 50px;
}

.logo-link img {
    /* Add transition effect on hover */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-link:hover img {
    /* Scale and adjust opacity on hover */
    transform: scale(1.1);
    opacity: 0.8;
}

.main {
    /* Set height */
    height: 40vh;
}

.profile-icon {
    /* Adjust font size and cursor */
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
}

.profile-icon:hover {
    /* Change color and scale on hover */
    color: #3498db;
    transform: scale(1.1);
}

.main form {
    /* Set height and arrange items */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main form .dropdown {
    /* Arrange items in column */
    display: flex;
    flex-direction: column;
}

.button-group {
    /* Arrange buttons */
    display: flex;
    justify-content: space-between;
}

.button-group .btn {
    /* Make buttons expand */
    flex-grow: 1;
    margin: 5px; /* Add space between buttons */
}

.update-spendings-button {
    /* Styling for update button */
    background-color: #4CAF50;
    color: white;
}

.update-spendings-button:hover {
    /* Adjust background color on hover */
    background-color: #45a049;
}
