/* Use the gradient background consistent with your other pages */
body {
    background: linear-gradient(to right, rgba(6, 6, 225, 0.457) 50%, rgb(154, 159, 178) 80%);
    font-family: 'Roboto', sans-serif; /* Assuming 'Roboto' is the font used on other pages */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the table and its elements to match the color scheme of your site */
.expenses-table {
    width: 80vw; /* Set a max-width consistent with the site's layout */
    margin: auto; /* Center the table */
    background-color: #112240; /* A color consistent with your site */
    border-radius: 10px;
    padding: 20px;
    color: white; /* White text color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for depth */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #1a2a41; /* Slightly lighter than the table background for contrast */
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50; /* Match input backgrounds with the site */
    border: none;
    border-radius: 4px;
    color: white; /* Text color for inputs */
}

/* Style images to act as buttons with hover effects */
img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

/* Style the update button to fit the site's button styling */
.update-button {
    background-color: #3498db; /* Button color used on other pages */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #777777; /* Button color used on other pages */
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button {
    background-color: #3498db; /* Button color used on other pages */
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #2980b9; /* A shade darker for the hover state */
}

.placeholder {
    opacity: 0.5;
    color:#9e9d9d;
}

.extra-space{
    margin-right: 20px;
}